importFrom(stats,setNames)
export(new_ray_result)
export(print.ray_result)
export(summary.ray_result)
S3method(print,ray_result)
S3method(summary,ray_result)
export(ray_check_docker)
export(ray_pull_image)
export(ray_build_treetools)
export(ray_import)
export(ray_colour)
export(ray_terrain)
export(ray_trees)
export(ray_split_segmented)
export(ray_smooth)
export(ray_info)
export(ray_mesh)
export(ray_validate_single_tree)
export(ray_pipeline_forest)
export(ray_pipeline_single_tree)
export(ray_pipeline_corrected)
export(ray_make_jobs)
export(ray_batch)
export(ray_resume)
export(ray_collect_logs)
export(ray_read_treefile)
export(ray_read_treefile_single)
export(ray_make_tree_dataframe)
export(ray_read_treeinfo)
export(ray_treeinfo_summary)
export(ray_treefile_to_qsm)
export(ray_compute_volume)
export(ray_compute_volume_dir)
export(ray_merchantable_volume)
export(ray_compute_cog)
export(ray_compute_cog_single)
export(ray_describe_cog)
export(ray_classify_stem)
export(ray_tree_metrics)
export(ray_forest_summary)
export(ray_export_metrics)
export(ray_export_cog)
export(ray_export_all)
export(ray_plot_cog_compass)
export(ray_plot_forest_map)
export(ray_default_paths)
export(ray_list_forest_inputs)
export(ray_list_single_tree_inputs)
export(ray_postprocess_tree)
export(ray_postprocess_forest)
export(ray_default_raycloud_image)
export(ray_default_treetools_image)
export(ray_get_images)
export(ray_set_images)
export(ray_image_has_tools)
export(ray_resolve_paths)
export(ray_step_inputs)
export(ray_step_input_labels)
export(ray_resolve_input_mode)
export(ray_result_statuses)
